*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    font-family: "Popp ins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2c8eec;
    padding: 1em;
}
nav a{
    text-decoration: none;
    text-transform: capitalize;
    color: #ffff;

}
#logo{
    font-size: 1.2em;
    font-weight: 600;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
}
label{
    display:none;
    cursor: pointer;
}
ul {
    list-style: none;
    display: flex;
    gap: 1em;
}


ul a {
    padding: 0.5em;
}
ul a:hover{
    background: #333;
    border-radius: 0.5em;
    transition: 0.5s;
}
.active{
    border-bottom: 2px solid #ffff;
}
@media  (max-width:600px) {
    label {
        display: block;
    }
    ul {
        font-size: 1.2em;
        position: absolute;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #333333;
        gap: 2em;
        width: 100%;
        top: 60px;
        height: calc(100vh - 60px);
        transition: 0.5s;
    }   
    input[type="checkbox"]:checked ~ ul {
        left: 0;
    }
    ul a:hover{
        background: #2c82ee;
        height: 10vh;
        border-radius: 0.5em;
        transition: 0.5s;
    }
    ul li a{
        display: block;
        width: 400px;
        text-align: center;
        
    }
    .active{
        border-bottom:none;
    }
}